In [ ]:
import pandas as pd
import os

fp_folder = "/Users/"
fp_file = ".csv"
fp_csv = os.path.join(fp_folder, fp_file)

fp = pd.read_csv(fp_csv)
print(len(fp))
fp.head()

39615

   Time_seconds  dF_F (%)   Z_score
0      0.000000  0.196925  0.196464
1      0.033318  0.687642  0.686031
2      0.066636  1.148722  1.146025
3      0.099954  1.535920  1.532306
4      0.133272  1.816194  1.811912

In [ ]:
dlc_folder = "/Users/"
dlc_file = ".csv"
dlc_csv = os.path.join(dlc_folder, dlc_file)

dlc = pd.read_csv(dlc_csv, header=[0, 1, 2], index_col=0)
print(len(dlc))
dlc.head()

39597

scorer    DLC_Resnet50_Fiber_PhotoOct12shuffle1_snapshot_180             \
bodyparts                                           Left_Ear
coords                                                     x          y
0                                                   552.5078  359.28320
1                                                   552.5078  359.28320
2                                                   552.5078  359.28320
3                                                   547.5405  359.06055
4                                                   542.4590  358.98828

scorer
bodyparts             Right_Ear
coords    likelihood          x          y likelihood
0           0.838379  591.59766  323.94922   0.608398
1           0.778320  591.59766  323.94922   0.692383
2           0.851562  591.59766  323.94922   0.749512
3           0.901367  587.49610  323.00098   0.708008
4           0.854980  581.79590  323.00098   0.825684

In [6]:
dlc.columns = ['_'.join(col[1:]).strip() for col in dlc.columns.values]

min_rows = min(len(dlc), len(fp))

dlc_synced = dlc.iloc[:min_rows]
fp_synced = fp.iloc[:min_rows]

dlc_synced = dlc_synced.reset_index(drop=True)
fp_synced = fp_synced.reset_index(drop=True)

df_merged = pd.concat([dlc_synced, fp_synced], axis=1)

In [ ]:

rename = fp_file.replace("Fluorescence_", "")
rename = rename.replace(".csv", "")

output_name = f"merged_{rename}.csv"
output_path = os.path.join(dlc_folder, output_name)

df_merged.to_csv(output_path, index=False)